@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Caveat&family=Fondamento&family=Lobster&family=Silkscreen&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Barlow&family=Caveat&family=Fondamento&family=Lobster&family=Silkscreen&family=UnifrakturMaguntia&display=swap');

.container {
    background-color: #ffffff00;
    width: auto;
    height: auto;
}

body {
    background: url(imgs/back.jpg);
    background-size: 100%;
    height: auto;
}

#h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
    color: rgba(3, 3, 95, 0.918);
    line-height: 1.2;
    text-shadow: 2px 2px rgba(0, 255, 42, 0.856);
}

#btn, #btn_res {
     font: 15px Fondamento;
     width: auto;
     padding: 6px 30px;
     cursor: pointer;
     border: none;
     border-radius: 8px;
     color: rgba(0, 255, 42, 0.856);
     background-color: rgb(0, 0, 73);
     margin-left: 40px;
     text-shadow: 2px 2px 4px rgb(81, 81, 175);
}

#result {
    margin-top: -10px;
}

h3 {
    font-size: 12px;
    font-family: Aclonica;
    color:  rgb(3, 3, 95);
}

#mainResult {
    margin-top: -3px;
    border: rgb(3, 3, 95) 3px solid ;
    border-radius: 6px;
    text-align: center;
    color: rgba(0, 255, 42, 0.856);
    font-family: Caveat;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(0, 0, 73);
}

#btn_res {
    display: none;
    margin-top: 10px;
}

#footer {
    position: absolute;
    bottom: 3px;
    right: 4px;
    color: #0004d4;
    font-family: Fondamento;
    font-weight: 500;
    font-size: 10px;
}