@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=EB+Garamond:ital@0;1&family=Roboto&family=Roboto+Condensed&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 30px;
    background: #eee;
    height: auto;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

/*navigation bar*/

.nav_header {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header > .logo {
    width: fit-content;
    padding: 2px 10px 0 10px;
    font-family: Alkatra;
    font-size: 25px;
    color: #001088;
    align-self: center;
    box-shadow: 0 0 7px 4px #0010887e;
    transform: skewX(25deg);
}

.nav_header  > .logo > span {
    display: block;
    transform: skewX(-25deg);
    align-self: center;
}

.nav_header > .nav_list > .links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Alkatra;
    font-size: 18px;
    cursor: pointer;
}

.nav_header > .nav_list > ul > li {
    appearance: none;
    position: relative;
    padding: 0px 10px;
    background-color: #001088;
    transform: skewX(-25deg);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3) inset;
}

.nav_header > .nav_list > ul > li:nth-child(even){
    background-color: rgb(0, 255, 255);
    color: #001088;
}

.nav_header > .nav_list > ul > li:nth-child(even) > a {
    color: #001088;
}

.nav_header > .nav_list > ul > li > a {
    appearance: none;
    padding: 5px 10px;
    height: fit-content;
    display: block;
    transform: skewX(25deg);
    text-decoration: none;
    color: rgb(0, 255, 255);
}

.nav_header > .nav_list > ul > li:hover {
    background-color: rgb(255, 174, 0);
    
}

.nav_header > .nav_list > ul > li > a:hover {
    color: rgb(0, 0, 255);
}
/* sub nav*/

.nav_header  .nav_list  .links  .proh {
    padding: 5px 10px;
}

.nav_header .nav_list .links .proh  span {
    transform: skewX(25deg);
    display: block;
}

.nav_header .nav_list .links .proh ul {
    position: absolute;
    background-color: #0010881c;
    backdrop-filter: blur(5px);
    width: 300px;
    height: 0;
    top: 2.6rem;
    border-radius: 15px;
    transform: skewX(25deg);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav_header .nav_list .links .proh:hover ul {
    display: block;
    height: 100px;
    padding: 10px 0;
}

.nav_header .nav_list .links .proh:hover ul li:nth-child(1) {
    background-color: #001088;
    width: 190px;
    margin: 0 auto;
    padding: 5px 15px;
    transform: skewX(25deg) translateX(15px);
    font-size: 18px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3) inset;
}

.nav_header .nav_list .links .proh:hover ul li:nth-child(2) {
    background-color: rgb(0, 255, 255);
    width: 190px;
    margin: 0 auto;
    padding: 5px 10px;
    transform: skewX(-25deg) translateX(-15px);
    font-size: 18px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3) inset;
}

.nav_header .nav_list .links .proh:hover ul li:nth-child(1) a {
    transform: skewX(-25deg);
    display: block;
    color: rgb(0, 255, 255);
    margin: 0 auto;
    text-align: center;
}

.nav_header .nav_list .links .proh:hover ul li:nth-child(2) a {
    transform: skewX(25deg);
    display: block;
    color: #001088;
    margin: 0 auto;
    text-align: center;
}

.nav_header .nav_list .links .proh:hover ul li:hover {
    background-color: orange;
}

.toggle_btn {
    cursor: pointer;
    display: none;
    width: fit-content;
}

.toggle_btn > ul > li { 
    width: 28px;
    height: 4px;
    margin: 4px;
    background-color: #001088;
    border-radius: 10px;
    transition: transform 0.4s linear;
}

.toggle_btn.active ul .top_line {
    transform: rotate(405deg) translateY(-4px) translateX(15px);
}

.toggle_btn.active ul .middle_line {
    visibility: hidden;
}

.toggle_btn.active ul .bottom_line {
    transform: rotate(-405deg) translateY(4px) translateX(15px);
}


/*DROPDOWN MENU*/

li {
    list-style: none;
}

.dropdown_menu {
    display: none;
    background-color: rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 16rem;
    height: 0;
    right: 3rem;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2;
    border: none;
    outline: none;
    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 225px;
}

.dropdown_menu ul {
    margin: .6rem 0;
}

.dropdown_menu li {
    cursor: pointer;
    border: none;
    outline: none;
    width: 10rem;
    padding: 0.6rem;
    margin: auto;
    text-align: center;
    background-color: #001088;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dropdown_menu ul .project_sub {
    position: relative;
    display: block;
    font-family: Alkatra;
    font-size: 20px;
    color: #001088;
}

.dropdown_menu ul .project_sub span {
    transform: skewX(25deg) translateX(0);
    display: block;
}

.dropdown_menu li:nth-child(odd):hover,
.dropdown_menu li:nth-child(even):hover {
    background-color: rgb(255, 166, 0);
}

.dropdown_menu li::after {
    content: '';
    position: absolute;
    top: -120%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px 5px rgb(0, 0, 0);
}

/*.dropdown_menu li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

.dropdown_menu li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}*/

.dropdown_menu li:nth-child(1)::after,
.dropdown_menu li:nth-child(4)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

.dropdown_menu li:nth-child(2)::after,
.dropdown_menu li:nth-child(5)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

.dropdown_menu li:nth-child(1) {
    transform: skewX(25deg) translateX(15px);
}

.dropdown_menu li:nth-child(2) {
    transform: skewX(-25deg) translateX(-15px);
    background-color: rgb(0, 255, 255);
}

.dropdown_menu li:nth-child(4) {
    transform: skewX(25deg) translateX(15px);
}

.dropdown_menu li:nth-child(5) {
    transform: skewX(-25deg) translateX(-15px);
    background-color: rgb(0, 255, 255);
}

.dropdown_menu li:nth-child(1) a,
.dropdown_menu li:nth-child(4) a {
    transform: skewX(-25deg) translateX(0);
    display: block;
    color: rgb(0, 255, 255);
}

.dropdown_menu li:nth-child(2) a,
.dropdown_menu li:nth-child(5) a {
    transform: skewX(25deg) translateX(0);
    display: block;
    color: #001088;
}


.dropdown_menu > ul > li > a { 
    font-family: Alkatra;
    font-size: 1.2rem;
    color: red;
}
/*sub dropdown menu*/
.dropdown_menu .sub_menu {
    position: absolute;
    z-index: 1;
    width: 14.5rem;
    height: 0;
    margin: 0 .75rem;
    background-color: rgba(0, 0, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .sub_menu li {
    font-family: Alkatra;
    line-height: 1;
    font-size: 18px;
}

.dropdown_menu .sub_menu.animation {
    height: 110px;
}

/*main start*/
h1 {
    padding: auto;
    white-space: nowrap;
    margin: -10px;
    color: rgb(0, 18, 97);
    font-family: New Rocker;
    font-size: clamp(30px,5vw,50px);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-orientation: upright;
    text-shadow: 2px 2px 0px rgba(0, 9, 102, 0.2);
    background: url(imgs/h1_img/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aift 80s linear  infinite;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}

@keyframes aift {
    0%{background-position: 0% 0%;}
    100%{background-position: 100% 0%;}
}

#hitext {
    display: none;
}

h2 {
    font-family: Alkatra;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: -50px;
    text-transform: capitalize;

}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 800px;
    margin: auto;
    box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.8), -20px 0px 20px rgba(0, 0, 0, 0.2);
}

#landing_txt_inner {
    position: relative;
    margin: 0.2rem;
    padding: 5px;
    width: 100%;
    background-size: 100%;
}

#landing_txt {
    background: url(imgs/back.jpg);
    background-color: #c1c4cc;
    background-size: cover;
    background-position: top;
    display: flex;
    flex: 0 1 40vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing_txt h2 {
    position: relative;
    display: block;
    margin-top: -10px;
    color: #0051ff;
    text-shadow: 1.4px 1.4px rgb(0, 18, 97);
}

#para {
    padding: 0;
    font-family: EB Garamond;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 18, 97);
}

#landing_img {
    position: relative;
    background: url(imgs/camara_NEW.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 390px;
    margin: auto;
    
}

#view_work {
    position: relative;
    padding: 1rem 2rem;
    border: 2px #0051ff solid;
    display: inline-block;
    margin: 0.5rem;
    border-radius: 40px;
    background-color: rgb(0, 18, 97);
    color: #fff;
    text-shadow: 2px 2px 10px;
    text-decoration: none;
    transition: background500ms ease;
    z-index: 1;
}

#view_work:hover {
    background-color: #ffffff;
    color: rgb(0, 18, 97);
    text-shadow: none;
}

/* social icon */

.flex_center {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.icon_group {
    width: 55px;
    height: 55px;
    font-family: Alkatra;
    font-size: 1.2rem;
    color: #333;
    margin: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(0, 0, 0, 0.3);
    transition: .3s ease;
}

.icon_group span {
    width: 0px;
    padding: 5px 0 0 0;
    text-align: center;
    overflow: hidden;
    transition: .2s ease;
}

.icon_group:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.icon_group:hover {
    width: 190px;
    border-radius: 35px;
}

.icon_group:hover span {
    padding-left: 5px;
    width: max-content;
}

.icon_group:focus {
    box-shadow: 5px 5px 0 rgb(60, 255, 0);
}

/*header*/

#header {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #f4f4f4;
}

#header h2 {
    border-left: dotted 1px #fff; 
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

#images > img {
    position: relative;
    padding: 30px;
}
/* images */
.insta {
    position: relative;
    height: 640px;
    align-items: center;
    justify-content: center;
}

.img_i {
    height: 602px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px #333;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  filter: blur(2px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.8);
}

.caption {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    background: linear-gradient(#ffffff7e, #6ea1ff);
    color: rgb(0, 18, 97);
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: rgb(0, 18, 97);
    text-shadow: 2px 2px 5px #6ea1ff;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

footer p {
    color: rgb(0, 18, 97)r;
    font-size: 1.3rem;
    margin: 0.5rem;
}



.caption span {
    font-family: Roboto;
    font-size: 15px;
    font-weight: lighter;
}

/* background */
.area {
    width: 800px;
    height: 100%;
}

.circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 38, 255, 0.5);
    animation: animate 40s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: rgba(33, 80, 143, 0.747);
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background: rgba(0, 154, 201, 0.6);
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(66, 98, 139, 0.747);
}

.circles li:nth-child(5){
    left: 65%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background: rgba(0, 107, 107, 0.6);
}

.circles li:nth-child(8){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 11s;
    animation-duration: 35s;
    background: rgba(0, 0, 255, 0.6);
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 70%;
    width: 140px;
    height: 140px;
    animation-delay: 0s;
    animation-duration: 11s;
    background: rgba(0, 46, 105, 0.486);
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-900px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@media (max-width: 776px) {
    body {
        margin: 20px;
    }

    .dropdown_menu {
        display: block;
    }

    .nav_header > .nav_list {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .social_icon{
        flex-direction: column;
    }

    .icon_group {
        width: 180px;
        border-radius: 35px;
    }

    .icon_group span {
        width: max-content;
    }

    #landing_img {
        height: 210px;
    }

    #images > img {
        padding: 0;
    }

    #h1txt {
        display: none;
    }

    #hitext {
        display: block;
        padding: 10px;
        border: 0;
        white-space: normal;
        background: url(imgs/h1_img/animated-text-fill.png) repeat-y;
        background-size: 170rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

@media (max-width: 576px) {
    body {
        margin: 20px;
    }
    
    .dropdown_menu {
        width: unset;
        left: 2.8rem;
    }

    .dropdown_menu .sub_menu {
        width: unset;
        right: 0;
        left: 0;
    }

    h1 {
        padding: 10px 0;
    }

    #landing_txt {
        padding: 30px 0;
        height: max-content;
    }

    footer p {
        font-size: 20px;
    }

    .circles {
        background-position: top;
        padding: 10px;
        width: 400px;
        height: 600px;
        top: 33%;
        left: 192px;
        margin: 30;
    }

    .circles li {
        animation: animate 10s linear infinite;
        bottom: -100px;
    }

    .swiper-slide {
        width: 280px;
    }
}